body {
    background-color: pink ;
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    margin: 129px auto;
    max-width: 600px;
}

h1 {
    text-align: center;
    font-weight: 800;
    font-size: 36px;
    line-height: 1.5;
    color: rgb(114, 5, 65);
}

header {
    margin-bottom: 30px;
}

.form-conteiner {
    background-color: white;
    margin-bottom: 30px; 
    border-radius: 15px;
    box-shadow: 0px 15px 30px rgba(80, 4, 63, 0.6);
    padding: 15px 20px;
}
form {
    display: flex;
}

.hint {
    line-height: 1.5;
    margin-top: 5px;
    opacity: 0.6;
    font-size: 12px;
} 

.instruction {
    padding: 25px;
    border: 2.2px solid rgb(114, 5, 65);
    border-radius: 50px;
    width: 80%;
    font-size: 16px;
    line-height: 20px;
    color: rgb(114, 5, 65);
}

.submit-button {
    margin-left: 10px;
    background-color: rgb(114, 5, 65);
    color: white;
    border-radius: 50px;
    border: none;
    width: 150px;
    padding: 14px 24px;
    font-size: 16px;
}

.submit-button:hover {
    cursor: pointer;
    background-color: rgb(186, 25, 114);
    border: 1.5px solid rgb(114, 5, 65);
  }

.poem {
    font-size: 16px;
    background-color: white;
    border-left: 15px solid rgb(114, 5, 65, 1);
    padding: 20px;
    box-shadow: 0px 15px 30px rgba(80, 4, 63, 0.6);
    margin-bottom: 25px;
    line-height: 2;
}

.hidden {
    display: none;
}

.poem strong {
    color:rgba(80, 4, 63, 0.8);
}

footer {
    text-align: center;
    font-size: 15px;
}

a {
    color:rgb(114, 5, 65) ;
}

.generating {
    animation: blink-animation 1s steps(5, start) infinite;
}
  }

@keyframes blink-animation {
  to {
    visibility: hidden;
  }
}
@-webkit-keyframes blink-animation {
  to {
    visibility: hidden;
  }
}